body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 234, 51);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.weapon-image {
  height: 100px;
  width: 100px;
  display: inline-block;
}
.weapon-image.rock {
  -webkit-transform: rotate(290deg);
  -ms-transform: rotate(290deg);
  transform: rotate(290deg);
}
.weapon-image.paper {
  -webkit-transform: rotate(324deg);
  -ms-transform: rotate(324deg);
  transform: rotate(324deg);
  padding-bottom: 8px;
}

#weapon img:active {
  opacity: .5;
}

.withBorder {
  color: #000;
  border: solid 2px;
  padding: 12px 12px 12px 12px;
  margin: 0px 0px 10px 0;
}