body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 234, 51);
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.landing.header {
  padding-top: 3rem;
  font-family: 'bonk_offsetregular';
  font-size: 7rem;
  line-height: 6rem;
  color:rgb(40, 40, 40);
}

#rules {
  display: inline-block;
  vertical-align: middle;
}

#bonkoff-header {
  font-family: 'bonk_offsetregular';
  font-size: 34px;
  line-height: 70px;
}

#player {
  background-color: rgb(163, 233, 163);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: solid 2px;
  border-color: gray;
}

#player img:active {
  padding: 8px 8px 8px 8px;
}

#player img:hover {
  opacity: .2;
}

#playerWin, #computerWin, #draw {
  min-height: 260px;
  top: 50%;
  position: relative;
  text-align: center;
  border-left: solid 2px;
  border-right: solid 2px;
  border-color:gray
}

#playerWin {
  background-color: rgb(163, 233, 163);
}

#computerWin {
  background-color: rgb(238, 165, 165);
}

#draw {
  background-color: ghostwhite;
}

#winner {
  padding: 20px;
  font-size: 30px;
}

#computer {
  background-color: rgb(238, 165, 165);
  border: solid 2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: gray;
}

#computer img:hover {
  cursor: not-allowed;
}

.ui.secondary.menu {
  font-family: 'bonk_offsetregular';
  font-size: 16px;
  margin-bottom: 0;
}

.ui.buttons {
  padding-top: 2rem;
}

.ui.three.column.grid {
  margin: 0px;
  padding: 0px;
}

#landing-rules {
  font-size: 16px;
  line-height: 16px;
}

.weapon-image {
  height: 100px;
  width: 100px;
  display: inline-block;
}

@font-face {
  font-family: 'bonk_offsetregular';
  src: url('./fonts/bonkoff-webfont.woff2') format('woff2'),
       url('./fonts/bonkoff-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h2 {
  margin: 10px 0px 2px;
}